$color-primary: #386895;
$color-secondary: #273B7A;
$color-light: #CAE9FF;
$color-white: #FFF;
$color-background: #F2F2F2;
$color-background-sec: rgba(0, 0, 0, 0.32);
$color-grey: rgb(183, 183, 183);
$color-error: rgb(206, 20, 20);