@import '/src/styles/color.scss';

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: $color-primary;
    background-color: $color-background;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}