@import '../../styles/color.scss';

.container-home {
    height: 100vh;

    background-color: $color-background;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}